<nav class="navbar navbar-expand-md navbar-light navbar-laravel navbar-fixed">
        <div class="container-fluid">
    <!-- Branding Image -->
    <a class="navbar-brand" href="/{{ current_locale() != default_locale()?current_locale():'' }}">
        {% if not setting('site_logo') %}
            {{  setting('site_name') }}
        {% else %}
            <img src="{{ setting('logo', '../../logo.png') }}" title="{{ setting('site_title') }}" class="logo"/>
        {% endif %}
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <!-- Left Side Of Navbar -->
         <ul class="navbar-nav mr-auto">
             {% if supported_locales()|length > 1 %}
           <li class="nav-item">
               <div class="dropdown">
                   <button class="btn btn-link language-selector dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       <i class="fa fa-language" aria-hidden="true"></i> {{ current_locale_native() }}
                   </button>
                   <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                       {% for localeCode, properties in supported_locales() %}
                            {% if localeCode == current_locale() %}
                                <span class="dropdown-item text-muted" rel="alternate" hreflang="{{ localeCode }}" href="#">
                                   {{ properties.native | capitalize  }}
                               </span>
                            {% else %}
                                <a class="dropdown-item" rel="alternate" hreflang="{{ localeCode }}" href="{{ get_localized_url(localeCode) }}">
                                    {{ properties.native | capitalize }}
                                </a>
                            {% endif %}
                       {% endfor %}
                   </div>
               </div>
           </li>
             {% endif %}

             {%  if setting('custom_homepage') or module_enabled('homepage') %}
             <li class="nav-item {{ active([route(setting('marketplace_index'))]) }}">
                 <a class="nav-link" href="{{ route(setting('marketplace_index')) }}">{{ __("Browse") }}</a>
             </li>
             {% endif %}
			 
             {%  if module_enabled('usersearch') %}
             <li class="nav-item {{ active([route('usersearch.index')]) }}">
                 <a class="nav-link" href="{{ route('usersearch.index') }}">{{ __("Members") }}</a>
             </li>
             {% endif %}

             {% for item in menu() %}
             <li class="nav-item {{ active([item.url|trim('/')]) }}">
                <a class="nav-link" href="{{ item.url }}">{{ item.title }}</a>
             </li>
             {% endfor %}
         </ul>


        <!-- Right Side Of Navbar -->
        <ul class="navbar-nav">
            {% if auth_guest() %}
                <li class="nav-item">
                    <a class="nav-link text-s" href="{{ route('create.index') }}">{{ __("Post a listing") }}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link  text-s" href="{{ route('register') }}">{{ __("Register") }}</a>
                </li>
                <li class="nav-item"><a class="nav-link text-s" href="{{ route('login') }}">{{ __("Sign in") }}</a></li>
            {% else %}

                <li class="nav-item avatar dropdown">

                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{{ auth_user().avatar }}" class="rounded-circle z-depth-0" />
                        {{ __('Welcome') }} {{ auth_user().display_name }}
                    </a>


                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" x-placement="bottom-end">
                        <a class="dropdown-item" href="{{ route('account.edit_profile.index') }}">
                            <i class="dropdown-icon mdi mdi-account"></i> {{ __('Profile') }}
                        </a>
                        <a class="dropdown-item" href="{{ route('account.purchase-history.index') }}">
                            <i class="dropdown-icon mdi mdi-history"></i> {{ __('Order History') }}
                        </a>
                        <a class="dropdown-item" href="{{ route('account.change_password.index') }}">
                            <i class="dropdown-icon mdi mdi-settings"></i> {{ __('Change Password') }}
                        </a>
                        <div class="dropdown-divider"></div>
                        {% if auth_user().hasAnyRole(['admin', 'moderator']) %}
                        <a class="dropdown-item" href="/panel" target="_blank">
                            <i class="dropdown-icon fe fe-log-out"></i> {{ __("Admin Panel") }}
                        </a>
                        {% endif %}
                        <a class="dropdown-item"  onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                            <i class="dropdown-icon fe fe-log-out"></i> {{ __("Logout") }}
                        </a>
                        <form id="logout-form" action="{{ route('logout') }}" method="POST" style="display: none;">
                            {{ csrf_field() }}
                        </form>
                    </div>
                </li>

                {% if auth_user().hasAnyRole(['admin', 'moderator']) %}
                <li class="nav-item" style="position: relative">
                    <a class="nav-link text-s" href="/panel" target="_blank">
                        <i class="mdi mdi-wrench mr-1" aria-hidden="true"></i>
                    </a>
                </li>
                {% endif %}

                <li class="nav-item mr-2" style="position: relative">
                    <a class="nav-link text-s {% if not is_active('inbox*') %}InboxDirectMessage{% endif %}" data-url="{{ route('inbox.index') }}" href="{{ route('inbox.index') }}">
                        <i class="mdi mdi-email-open-outline mr-1" aria-hidden="true"></i>
                        {% if auth_user().unread_messages %}
                            <span class="inbox-count text-center text-white">{{auth_user().unread_messages?:""}}</span>
                        {% endif %}
                    </a>
                </li>

                <li class="nav-item">
                    <a class="btn btn-success" href="{{ route('create.index') }}">{{ __("Post listing") }}</a>
                </li>
            {% endif %}
        </ul>
    </div>
    </div>
</nav>
