{% extends "account.master" %}

{% block user_area %}

    <div class="card panel-default">
        <h6 class="card-header bg-white"><i class="mdi mdi-account mr-2"></i> {{ __('Favorites') }}</h6>
        <div class="card-body">

            {% include 'notifications' %}


            <table class="table table-sm border-top-0">
                <thead class="thead-light">
                <tr>
                    <th scope="col">{{ __('Listing') }}</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for i, item in favorites %}
                    <tr>
                        <td><a href="{{ item.url }}" class="text-dark">{{ item.title }}</a> <a class="text-muted" href="{{ route('profile', item.user) }}">({{ __('by :name', {'name': item.user.display_name}) }})</a></td>
                        <td class="text-right d-none d-sm-block"><a href="{{ item.url }}">{{ __('view') }} <i class="mdi mdi-chevron-double-right"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


        </div>
    </div>
{% endblock %}

