{% extends "layouts.app" %}

{% block content %}

    <div class="bg-light ">
    <div class="container-fluid ">

        <div class="row  pt-sm-5 pb-5">
            <div class="col-12">
                <a class="btn btn-link pl-0 pb-0 small d-sm-none" data-toggle="collapse" href="#collapseMenu" role="button" aria-expanded="false" aria-controls="collapseMenu">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </a>
            </div>
            <div class="col-sm-4 col-md-3 pr-sm-5 mb-5    " id="collapseMenu">
                <div class="card mb-3">
                    <div class="card-body pb-3">
                        <h6 class="card-subtitle mb-0 text-muted">{{ __('Menu') }}</h6>
                    </div>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item {{ active(['account.edit_profile.index'], 'list-group-item-primary') }}">
                            <a href="{{ route('account.edit_profile.index') }}" class="active">{{ __('Edit Profile') }}</a></li>
                        <li class="list-group-item {{ active(['account.change_password.index'], 'list-group-item-primary') }}">
                            <a href="{{ route('account.change_password.index') }}">{{ __('Change Password') }}</a></li>
                        <li class="list-group-item {{ active(['account.purchase-history.index', 'account.purchase-history.show'], 'list-group-item-primary') }}">
                            <a href="{{ route('account.purchase-history.index') }}">{{ __('Order History') }}</a></li>
                        <li class="list-group-item {{ active(['account.favorites.index'], 'list-group-item-primary') }}">
                            <a href="{{ route('account.favorites.index') }}">{{ __('Favorites') }}</a></li>
                    </ul>
                </div>

                <div class="card">
                    <div class="card-body pb-3">
                        <h6 class="card-subtitle mb-0 text-muted">{{ __('Selling') }}</h6>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item {{ active(['account.listings.index'], 'list-group-item-primary') }}"><a href="{{ route('account.listings.index') }}">{{ __('Listings') }}</a></li>
                        <li class="list-group-item {{ active(['account.orders.index', 'account.orders.show'], 'list-group-item-primary') }}"><a href="{{ route('account.orders.index') }}">{{ __('Orders') }}</a></li>
                        <li class="list-group-item {{ active(['account.bank-account.index'], 'list-group-item-primary') }}"><a href="{{ route('account.bank-account.index') }}">{{ __('Payments') }}</a></li>

						{% if module_enabled('userverification') %}
                        <li class="list-group-item {{ active(['account.userverification.index'], 'list-group-item-primary') }}"><a href="{{ route('account.userverification.index') }}">{{ __('Identity Verification') }}</a></li>
                        {% endif %}

                    </ul>
                </div>
            </div>
            <div class="col-sm-8 col-md-9">
                {% block user_area %}{% endblock %}


            </div>
        </div>
    </div>
    </div>

{% endblock %}
