{% extends "account.master" %}

{% block user_area %}

    <div class="card panel-default">
        <h6 class="card-header bg-white"><i class="mdi mdi-account mr-2"></i> {{ __('Change password') }}</h6>
        <div class="card-body">


            {% include 'notifications' %}

            {{ form_model(user, {'url' :  route('account.change_password.store'), 'files': true, 'id':'edit_profile', 'class' : ''}) }}

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">{{ __('Email') }}</label>
                <div class="col-sm-8">
                    {{ form_text('email', auth_user().email, {'class' : 'form-control', 'disabled' : 'disabled'}) }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">{{ __('Password') }}</label>
                <div class="col-sm-8">
                    {{ form_password('password', {'class' : 'form-control'}) }}
                </div>
            </div>

            <div class="form-group row">

                <label class="col-sm-3 col-form-label">{{ __('Confirm password') }}</label>
                <div class="col-sm-8">
                    {{ form_password('password_confirmation', {'class' : 'form-control'}) }}
                </div>
            </div>


            <div class="form-group row">
                <label class="col-sm-3 col-form-label">&nbsp;</label>

                <div class="col-sm-9">
                    {{ form_submit( __('Save password') , {'class' : 'btn btn-primary'}) }}
                </div>
            </div>
            {{ form_close() }}

        </div>
    </div>


{% endblock %}