<div class="card mb-4">
    <h6 class="card-header bg-white">{{ __("Listing details") }}</h6>
    <div class="card-body">


        <div class="form-group">
            <label>{{ __("Title") }}</label>
            {{ form_text('title', null, {'class' : 'form-control'}) }}
        </div>

        <div class="form-group">
            <label>{{ __("Description") }}</label>
            <div id="description" style="height: 200px">
                {{  listing.description | raw }}
            </div>
            {{ form_hidden('description', null, {'class' : 'form-control'}) }}
        </div>

        <div class="form-group">
            <label>{{ __("Tags") }}</label>
            {{ form_text('tags_string', null, {'class' : 'tags'}) }}
        </div>


		<div class="form-group">
			<label>{{ __('Listing ends at') }} <small class="text-muted">({{ __("Leave empty for no end date") }})</small></label>
			{{ form_text('ends_at', null, {'class' : 'form-control'}) }}
		</div>


    </div>

</div>


<div class="card mb-4">
    <h6 class="card-header bg-white">{{ __("Location") }}</h6>
    <div class="card-body">


        <div class="form-group">
            {{ form_text('location', null, {'class' : 'form-control', 'id' : 'location'}) }}
            {{ form_hidden('lat', null, {'class' : 'form-control', 'id' : 'lat'}) }}
            {{ form_hidden('lng', null, {'class' : 'form-control', 'id' : 'lng'}) }}

            <div id="create_map" style="width: 100%; height: 400px;"></div>

			<div class="row mt-4">
				<div class="col-6">
					<div class="form-group">
						<label>{{ __("City") }}</label>
						{{ form_text('city', null, {'class' : 'form-control', 'id' : 'city'}) }}
					</div>		
				</div>		
				<div class="col-6">
					<div class="form-group">
						<label>{{ __("Country") }}</label>
						{{ form_text('country', null, {'class' : 'form-control', 'id' : 'country', 'readonly':'readonly'}) }}
					</div>
				</div>
			</div>

        </div>

    </div>
</div>

<script>
    if($("input[name='ends_at']").length) {
		flatpickr("input[name='ends_at']", {
  enableTime: false,
  defaultDate : null,
  minDate : new Date(),
  altInput: true,
    altFormat: "F j, Y",
    dateFormat: "Y-m-d"
});
		
	}
    if($('#description').length) {
        var quill = new Quill('#description', {
            placeholder: '',
            theme: 'snow'  // or 'bubble'
        });
        quill.on('editor-change', function (eventName, args) {
            $('input[name=description]').val(quill.root.innerHTML);
        });
    }
        if($('#create_map').length) {

            $('#create_map').locationpicker({
                location: {
                    latitude: {{listing.lat}},
                    longitude: {{listing.lng}}
                },
                radius: 0,
                enableAutocomplete: true,
                enableAutocompleteBlur: true,

                inputBinding: {
                    latitudeInput: $('#lat'),
                    longitudeInput: $('#lng'),
                    locationNameInput: $('#location')
                },

                onchanged: function (currentLocation, radius, isMarkerDropped) {
                    var addressComponents = $(this).locationpicker('map').location.addressComponents;
                    $('#city').val(addressComponents.city);
                    $('#country').val(addressComponents.country);
                }
            });

        }
</script>