{% extends "layouts.app" %}

{% block content %}
    <div class="container-fluid inner" style="max-width: 360px">

        <div id="editor-area-wrapper" data-turbolinks="false">
            <div id="editor_area" data-turbolinks="false">

                <div class="card">
                    <div class="card-header">
                        {{ __("Your availability") }}
                        <a class="mt-1" data-toggle-target="times_section" href="#"><i class="mdi mdi-close text-muted small float-right" aria-hidden="true"></i></a>

                    </div>
                    <div class="card-body p-0">


                        <div class="row">
                            <div class="col-sm-12 mx-auto">
                                {% include 'notifications' %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">

                                <form method="POST" id="times-selector" ic-post-to="{{ url_current() }}" ic-trigger-on="mouseleave" ic-target="#editor_area" ic-select-from-response="#editor_area" ic-trigger-delay="500ms">
                                    {{ csrf_field() }}

                                    <table class="table table-bordered table-sm">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            {% for day in 1..7 %}
                                                <th style="width: 12%" class="text-center">{{ "now"|date_modify("Sunday +"~day~" days")|date("D") }}</th>
                                            {% endfor %}
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for hour in 0..23 %}
                                            <tr>
                                                <td>{{ "now"|date_modify(hour~":00")|date("H:i") }}</td>
                                                {% for day in 1..7 %}
                                                    <td class="cell-activse text-center">


                                                        <div class="pretty p-default p-round" style="width: 17px; margin: 0 auto;">
                                                            <input type="checkbox" name="selection[{{ day }}][{{ hour }}]" value="1" {{ array_get(slots, day~'.'~hour, 0) ? "checked" : "" }} />
                                                            <div class="state p-success-o">
                                                                <label>&nbsp;</label>
                                                            </div>
                                                        </div>

                                                    </td>
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </form>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
