{% extends "layouts.app" %}

{% block content %}
<div class="container " data-turboliks="false">
    <div class="row flex-column pt-5 align-items-center">
        <div class="col-lg-4 col-sm-6" style="position: relative">

            {% include 'notifications' %}
            <a class="navbar-brand ml-auto mr-auto w-100 text-center" href="/{{ current_locale() != default_locale()?current_locale():'' }}">
                {% if not setting('site_logo') %}
                    {{  setting('site_name') }}
                {% else %}
                    <img src="{{ setting('logo', '../../logo.png') }}" title="{{ setting('site_title') }}" class="logo"/>
                {% endif %}
            </a>
            <div class="card card-block shadow mt-4">

                <div class="card-body">
                    <form method="POST" action="{{ route('login') }}">
                        {{ csrf_field() }}

						{% if(setting('facebook_key')) %}

                        <a href="/login/facebook" data-turbolinks="false" class="btn btn-md btn-facebook btn-block mt-3"><i class="fa fa-facebook fa-fw"></i> {{ __('Login with Facebook') }}</a>


                        <div class="col-12 text-center text-muted mb-4 mt-4">
                            — {{ __('or') }} —
                        </div>
						{% endif %}

                        <div class="form-group">
                            <label class="form-control-label" for="email">{{ __('Email address') }}</label>
                            <input class="form-control{{errors.has('email') ? ' is-invalid' : '' }}" type="email" id="email" name="email" value="{{ old('email') }}" placeholder="e.g. something@example.com..." required autofocus>

                        </div>

                        <div class="form-group">
                            <label class="form-control-label" for="password">{{ __('Password') }}</label>
                            <input class="form-control{{errors.has('password') ? ' is-invalid' : '' }}" type="password" id="password" name="password" placeholder="{{ __('enter password...') }}"  required aria-describedby="passwordHelp" >

                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <label class="form-check-label">
                                    <input type="checkbox" name="remember" {{ input_get('remember') ? 'checked' : '' }}> {{ __("Remember Me") }}
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-md btn-success btn-block">{{ __('Login') }} <i class="icon-arrow-right icons"></i></button>

                        </div>

                    </form>
                </div>
            </div>
            <br />
            <br />
            <div class="form-group row">
                <div class="col text-center">
                    <a href="{{ route('password.request') }}" class="text-muted mb-3">{{ __('Forgot Your Password?') }}</a><br />
                    <a href="{{ route('register') }}"  class="text-muted text-center mt-3">{{ __("Don't have an account? Sign Up.") }}</a>

                </div>
            </div>



        </div>
    </div>
</div>

{% endblock %}

{% block navbar %}
<a href="{{url_previous(route('home'))}}" class="close-btn" style="position: absolute; top: 20px; right: 20px;"><i class="mdi mdi-close text-muted" style="font-size: 30px;"></i></a>
{% endblock %}

{% block footer %}
<footer class="bg-white border-0" >
</footer>
{% endblock %}

{% block search_bar %}
{% endblock %}
