<div class="card " id="form-selector" >
    <div class="card-header">

        <div class="row text-center mt-3">
            <div class="col-sm-12">

                <a href="">
                    <img src="{{ listing.user.avatar }}" style="width: 90px; position: absolute; top: 5px; left: 0px; right: 0; margin-left: auto;  margin-right: auto; " class="img-fluid img-thumbnail rounded-circle"/>
                </a>
                <br/>
                <br/>
            </div>
        </div>

    </div>
    <div class="card-body">

        <div class="col-sm-12 text-center">
            <h3 class="mb-0 mt-5 h6 truncate">
                <a href="{{ listing.user.url }}"><strong>{{ listing.user.display_name }}</strong></a>
            </h3>
            <p class="mt-0 mb-0">{{ listing.user.city }}, {{ listing.user.country }}</p>
        </div>
        <div class="row mt-3 mb-3">

            <div class="col-sm-12 mx-auto text-center">

                <p class="small mb-3 text-muted"><i class="mdi mdi-clock"></i> {{ __("Posted") }} {{ listing.days_ago}}</p>
                {%  if total %}
                    <h3 class="mb-3 h2">{{ format_money(total, listing.currency) }} <i class="widget-indicator fa fa-circle-o-notch p-1 fa-spin float-right" style="display:none"></i></h3>
                    <p class=" h6 text-muted">{{ listing.price_per_unit_display }}</p>
                {% endif %}

                {% if error %}
                    <p class="mb-1 mt-1 p-3 text-muted text-center">{{ error }}</p>
                {% endif %}

            </div>

        </div>

    </div>

    <div class="card-footer bg-whites ">
        <div class="row">
            <div class="col-sm-12 mx-auto text-center">
                {% if auth_check() %}
                    <button class="btn btn-primary btn-block InboxDirectMessage" data-url="{{ route('inbox.create', {'user_id': listing.user_id, 'direct':true}) }}">
                        <i class="mdi mdi-share mr-1"></i> {{ __("Contact seller") }}
                    </button>
                {% else %}
                    <a href="{{ route('login') }}" class="btn btn-primary btn-block pop"><i class="mdi mdi-share mr-1" ></i> {{ __("Contact seller") }}</a >
                    <div class="webui-popover-content">
                        <p class="h6">{{ __('Want to contact the seller?') }}</p>
                        <p>{{ __('Sign in to send a message.') }}</p>
                        <hr />
                        <a href="{{ route('login') }}" class="btn btn-link text-danger font-weight-bold text-uppercase pl-0">{{ __("Sign in") }}</a>
                    </div>
                {% endif %}
            </div>

        </div>
    </div>
</div>