{% extends "layouts.app" %}

{% block search_bar %}
    <br />
{% endblock %}

{% block content %}

    <div class="container-fluid narrow mb-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header bg-white">
                        <h1 class="h5 card-title mb-0">{{ __('Contact us') }}</h1>
                    </div>

                    <div class="card-body">
                        {{ form_open( {'url' :  url_current(), 'class' : 'form', 'method':'post'}) }}
                        {% include 'notifications.twig' %}
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label>{{ __('Name') }}</label>
                                            {{ form_text('name', input_get('first_name') ? input_get('first_name') : first_name, {'class' : 'form-control'})  }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label>{{ __('Email') }}</label>
                                            {{ form_text('email_address', input_get('email') ? input_get('email') : email, {'class' : 'form-control'}) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label>{{ __('Your comments') }}</label>
                                            {{ form_textarea('comment', default_message, {'class' : 'form-control', 'rows': 5}) }}
                                            <br />
                                            {{ recaptcha() | raw }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                {{ form_submit(__('Send message'), {'class' : 'btn btn-primary'}) }}
                            </div>
                        </div>

                        {{ form_close() }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}