{% extends "account.master" %}

{% block user_area %}

    <div class="card panel-default">
        <h6 class="card-header bg-white"><i class="mdi mdi-account mr-2"></i> {{ __('Order History') }}</h6>
        <div class="card-body">

            {% include 'notifications' %}

            <table class="table table-sm border-top-0">
                <thead class="thead-light">
                <tr>
                    <th scope="col">{{ __('Listing') }}</th>
                    <th scope="col">{{ __('Order Number') }}</th>
                    <th scope="col">{{ __('Amount') }}</th>
                    <th scope="col" class="d-none d-sm-block">{{ __('Date Ordered') }}</th>
                    <th scope="col">{{ __('Status') }}</th>
                    <th scope="col" class="d-none d-sm-table-cell"></th>
                </tr>
                </thead>
                <tbody>
                {% for i, item in orders %}

                    <tr>
                        <td><a class="text-dark">{{ str_limit(item.listing.title, 40) }}</a><br />
							{% if item.listing.user %}
                            <span class="text-muted" href="{{ route('profile', item.listing.user) }}">
								<a href="#" class="text-muted InboxDirectMessage" data-url="{{ route('inbox.create', {'user_id': item.listing.user.id, 'direct':true}) }}">({{ __('by :name', {'name': item.listing.user.display_name}) }})</a>
								</span>
								{% endif %}
                        </td>
                        <td>{{ item.hash }}</td>
                        <td>{{ format_money(item.amount, item.currency) }}</td>
                        <td class="d-none d-sm-block" title="{{ item.created_at }}">{{ item.created_at.toFormattedDateString() }}</td>
                        <td>{{ _l(item.status) }}</td>
                        <td class="text-right d-none d-sm-block">
                            <a href="#" class="InboxDirectMessage" data-url="{{ route('inbox.create', {'user_id': item.listing.user.id, 'direct':true}) }}">{{ __('contact seller') }} <i class="mdi mdi-chevron-double-right"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {{ orders.links() |raw }}

        </div>
    </div>
{% endblock %}

